<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{layout::head}">
</head>
<body>
<nav th:replace="~{layout::menu}"></nav>
<div class="card">
    <div class="card-header">
        Listado de estados
    </div>
    <div class="card-body">
        <button type="button" class="btn btn-info">
            <i class="bi bi-balloon"> Agregar</i>
        </button>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Descripción</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="estado: ${listadoestados}">
                <td th:text="${estado.idestado}"></td>
                <td th:text="${estado.descestado}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>